# -----------------------------------------------------
# Entradas a la 22V10
# -----------------------------------------------------
NET "clk"                LOC = "P1" ;      
NET "reset"              LOC = "P2" ;     
                                                     


# -----------------------------------------------------
# Salidas a la 22V10
# -----------------------------------------------------


